body {
    font-family: Arial, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Imagenes/perro-en-el-pasto_6000x4000_xtrafondos.com.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

h2 {
    color: white;
}

.pet-image {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea, button {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Responsividad */
@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    
    input, select, textarea, button {
        font-size: 14px;
    }
}