#error {
    font-size: 2rem;
    display: none;
    color: red;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid red;
    width: 300px;
    margin: 1rem 0;
  }
  
  #success {
    font-size: 2rem;
    display: none;
    color: green;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid green;
    width: 300px;
    margin: 1rem 0;
  }
 